<div class="mb-3 form-floating">
    <input [type]="type()" [class.is-invalid]="control.touched && control.invalid" placeholder="{{label()}}"
        [formControl]="control" class="form-control">
    <label>{{label()}}</label>
    <div *ngIf="control.hasError('required')" class="invalid-feedback text-start">Please enter a
        {{label()}}</div>
    <div *ngIf="control.hasError('minlength')" class="invalid-feedback text-start"> {{label()}}< must
        be atleast {{control.errors?.['minlength'].requiredLength}} characters</div>
    <div *ngIf="control.hasError('maxlength')" class="invalid-feedback text-start">  {{label()}}< must
        be atmost {{control.errors?.['maxlength'].requiredLength}} characters</div>
    <div *ngIf="control.hasError('isMatching')" 
        class="invalid-feedback text-start" > {{label()}} does not match the password</div>
</div>